*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;
    background: rgba(225, 225, 153, 0.598);
}
h1{
    font-size: 10vw;
    color: red;
}
h2{
    font-size: 7vw;
    color: green;
}
h3{
    font-size: 4vw;
    color: purple;
}